:root {
    --primary-color: #0f0f66;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: #f8ebff;
}

html {
    scroll-behavior: smooth;
}

.container {
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
}

.thalys {
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
    margin-top: 50px;
}

.ouigo {
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
    margin-top: 50px;
}

.eurostar {
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
    margin-top: 50px;
}

.tgv {
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
    margin-top: 50px;
}

.trenitalia {
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 350px;
}

header {
    height: 60px;
    background: var(--primary-color);
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

nav ul {
    display: flex;
    gap: 15px;
    padding-left: 0;
    list-style: none;
}

nav a {
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

.logo img {
    width: 30px;
    height: 30px;
}

.hero {
    padding: 150px 0;
}

.hero .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero .thalys {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero .ouigo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero .eurostar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero .tgv {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero .trenitalia {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 48px;
    margin-bottom: 50px;
}

.hero p {
    margin: 10px 0;
}

.btn {
    background: var(--primary-color);
    color: #fff;
    padding: 5px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 600;
    text-decoration: none;
}

.hero .col {
    width: 50%;
}

section img {
    width: 100%;
    border-radius: 20px;
}

.reserved {
    margin-top: 30px;
    padding: 25px;
    background-color: #8e8ea5;
    font-size: large;
    border-radius: 05%;
}

.quiz {
    padding: 100px 0;
}

.quiz .container > p {
    margin: 15px 0;
}

textarea {
    display: block;
}

form.quiz__form > div {
    margin: 15px 0;
}

.questions > div {
    margin: 15px 0;
}

.questions > div > p {
    margin-bottom: 15px;
}

textarea {
    display: block;
}

form.quiz__form > div {
    margin: 15px 0;
}

.questions > div {
    margin: 15px 0;
}

.questions > div > p {
    margin-bottom: 15px;
}

footer .container .footer__top {
    display: flex;
    justify-content: space-between;
}

footer {
    background: var(--primary-color);
    padding: 15px 0;
    color: #fff;
}

.history figure img {
    width: 100%;
}

.history p {
    margin: 15px 0;
}

.history .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

figcaption {
    text-align: center;
    margin-top: 10px;
}