:root {
    --primary-color: #0f0f66;
    --sec-color: #f8ebff;
    --add-color: #f16e50;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

*:focus {
    outline: none;
}

body {
    background: var(--sec-color);
}

html {
    scroll-behavior: smooth;
}

.container {
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
}

.thalys {
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
    margin-top: 50px;
}

.ouigo {
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
    margin-top: 50px;
}

.eurostar {
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
    margin-top: 50px;
}

.tgv {
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
    margin-top: 50px;
}

.trenitalia {
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 350px;
}

header {
    height: 60px;
    background: var(--primary-color);
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

nav ul {
    display: flex;
    gap: 15px;
    padding-left: 0;
    list-style: none;
}

nav a {
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

.logo img {
    width: 30px;
    height: 30px;
}

.hero {
    padding: 150px 0;
}

.hero .container {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.reservation {
    display: flex;
    align-items: center;
    gap: 15px;
    background: var(--primary-color);
    color: #fff;
    padding: 30px;
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 50px;
    font-size: 20px;
    -webkit-box-shadow: 0px 0px 24px -8px #000000;
    box-shadow: 0px 0px 24px -8px #000000;
}

.reservation input {
    padding: 5px;
    border-radius: 10px;
    border: none;
    display: block;
    margin-top: 10px;
}

.reservation .btn {
    border: 1px solid #fff;
    padding: 5px 20px;
    background: var(--add-color);
}

.hero .thalys {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero .ouigo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero .eurostar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero .tgv {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero .trenitalia {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 48px;
    margin-bottom: 50px;
}

.hero p {
    margin: 10px 0;
}

.btn {
    background: var(--primary-color);
    color: #fff;
    padding: 5px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 600;
    text-decoration: none;
}

.hero .col {
    width: 45%;
}

section img {
    width: 100%;
    border-radius: 20px;
}

.quiz {
    padding: 100px 0;
}

.quiz .container > p {
    margin: 15px 0;
}

textarea {
    display: block;
}

form.quiz__form > div {
    margin: 15px 0;
}

.questions > div {
    margin: 15px 0;
}

.questions > div > p {
    margin-bottom: 15px;
}

textarea {
    display: block;
}

form.quiz__form > div {
    margin: 15px 0;
}

.questions > div {
    margin: 15px 0;
}

.questions > div > p {
    margin-bottom: 15px;
}

footer .container .footer__top {
    display: flex;
    justify-content: space-between;
}

footer {
    background: var(--primary-color);
    padding: 15px 0;
    color: #fff;
}

.history figure img {
    width: 100%;
}

.history p {
    margin: 15px 0;
}

.history .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

figcaption {
    text-align: center;
    margin-top: 10px;
}

.result__item {
    background: var(--sec-color);
    padding: 20px;
}

.result__dest {
    display: flex;
    gap: 5px;
}

.reservation__results {
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.hidden {
    display: none;
}

.result__top {
    display: flex;
    justify-content: space-between;
}

.result__bottom {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}

.reservation__btns {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.reservation__btns .btn {
    font-size: 16px;
    text-align: center;
}

.reservation__btns .btn:last-child {
    background: transparent;
}
